[submodule "vendor/github.com/mitchellh/go-homedir"]
	path = vendor/github.com/mitchellh/go-homedir
	url = https://github.com/mitchellh/go-homedir
[submodule "vendor/github.com/prologic/go-gopher"]
	path = vendor/github.com/prologic/go-gopher
	url = https://github.com/prologic/go-gopher
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "vendor/github.com/prologic/gopherproxy"]
	path = vendor/github.com/prologic/gopherproxy
	url = https://github.com/prologic/gopherproxy
[submodule "vendor/github.com/zserge/webview"]
	path = vendor/github.com/zserge/webview
	url = https://github.com/zserge/webview
[submodule "vendor/github.com/GeertJohan/go.rice"]
	path = vendor/github.com/GeertJohan/go.rice
	url = https://github.com/GeertJohan/go.rice
[submodule "vendor/github.com/daaku/go.zipexe"]
	path = vendor/github.com/daaku/go.zipexe
	url = https://github.com/daaku/go.zipexe
[submodule "vendor/github.com/kardianos/osext"]
	path = vendor/github.com/kardianos/osext
	url = https://github.com/kardianos/osext
[submodule "vendor/github.com/namsral/flag"]
	path = vendor/github.com/namsral/flag
	url = https://github.com/namsral/flag
[submodule "vendor/github.com/temoto/robotstxt"]
	path = vendor/github.com/temoto/robotstxt
	url = https://github.com/temoto/robotstxt
